.app__header {
    align-items: center;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 20px;
    position: relative;
}

.app__header:before {
    background: white;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.app__logo {
    max-width: 200px;
    img {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
}

.app__nav ul {
    display: flex;
    list-style: none;
}

.app__nav ul li {
    padding: 0 10px;
}


/**
Body
 */

/**
* --Search
 */

.app__search input {
    border-radius: 5px;
    min-width: 300px;
    padding: 10px;
}

.filter-btn {
    margin: 10px 0;
}

.shimmer-container,
.app__res-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    margin-top: 2rem;
}

.shimmer-card,
.res-card {
    flex-basis: 200px;
    overflow: hidden;
    width: 100%;
}

.res-card__header img {
    border-radius: 5px;
    object-fit: cover;
    max-width: 100%;
}

.shimmer-card {
    background: #f0f0f0;
    height: 300px;
    width: 200px;
}